#deepspeed
# fix error: AttributeError: Can't pickle local object 'ModelOffloader.create_backward_hook.<locals>.backward_hook'
# https://github.com/tdrussell/diffusion-pipe/issues/287
deepspeed==0.16.9
toml
transformers
diffusers>=0.32.1
datasets
pillow
sentencepiece
protobuf
peft
torch-optimi
tensorboard
tqdm
safetensors
bitsandbytes
imageio[ffmpeg]
av
einops
accelerate
loguru
flash-attn
omegaconf
iopath
termcolor
hydra-core
easydict
ftfy
pytorch-optimizer
wandb